@using System.Web.Mvc.Html
@model quotetrail.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/css/common.css" rel="stylesheet" />
}
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    
        <fieldset class="login">
            <div class="center">
                <legend  class="signinheader">SignIn</legend>
                <div>
                    <strong class="text"> Username</strong>
                    @Html.TextBoxFor(u => u.UserName, new {@class = "roundtextfield"})
                    @Html.ValidationMessageFor(u => u.UserName,string.Empty,new {@class = "errorText"})
                    <div style="padding-top: 15px;">
                        <input type="submit" value="Log In" class="button"/>
                        @Html.CheckBoxFor(u => u.RememberMe)
                        @Html.LabelFor(u => u.RememberMe)
                    </div>
                </div>
                
                <div style="height: 10px"></div>
                <div>@Html.ValidationMessage("")</div>
            </div>
        </fieldset>
}